body {
  font-family: 'Montserrat', sans-serif;
}

.link {
  color: white;
  background: #2ea170;
  text-shadow: 1px 1px 2px black;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, .75);
  transition: all 250ms;
}

.link:hover {
  color: white;
  text-shadow: 1px 1px 2px black;
  box-shadow: none;
}

.link-news {
  background: url("/img/news.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.link-mania-exchange {
  background: url("/img/mania-exchange.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.link-openplanet {
  background: url("/img/openplanet.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.link-tmio {
  background: url("/img/tmio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.link-tmgl {
  background: url("/img/tmgl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.link-tmfl {
  background: url("/img/tmfl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.link-zrt {
  background: url("/img/zrt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.link-kacky {
  background: url("/img/kacky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.link-furs {
  background: url("/img/furs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}